
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  pointer-events:all;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: lightblue;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.female {
  fill: pink;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.zero {
  fill: lightblue;
  stroke: yellow;
  stroke-width: 2px;
}

circle:hover {
  fill: orangered ;
}

text {
  visibility: visble;
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  font-family: sans-serif;
  font-size: 85%;
  pointer-events: none;
}

.d3-tip img {
    display: block;
    margin: 0 auto;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis .title {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  -webkit-transition: fill 125ms linear;
}

.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}

h1 {
  text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}