body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
    background-color: #cfa145;
    border-color: #cfa145;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

